/*
  PROJECT WIDE CSS
*/
body {
  margin: 0;
  padding: 0;
  /*background-color: #222;*/
  font-family: 'Montserrat', sans-serif;
}

/* COLORS */
.black { color: #222; }
.yellow { color: #FACC38; }
.blue { color: #39BEFB; }
.green { color: #89AF51; }

/* BACKGROUND COLORS */
.star-bg { background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); overflow: hidden; }
.black-bg { background-color: #222; }
.white-bg { background-color: #FBFBFB; }
.blue-bg { background-color: #39BEFB; }

#pic {
  background-color: #EEC935;
  /*background:url(http://mrmrs.io/photos/001.jpg);*/
}